body {
    font-family: "Nunito Sans", sans-serif;
    margin: 0;
    line-height: 1.6;
}

div.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
    box-sizing: border-box;
}

h2 {
    margin: 1rem 0 0;
}

p {
    margin: 0.4em 0;
}

hr {
    margin: 2rem auto;
}