name: 'Deploy site to GitHub pages'
on:
  push:

jobs:
  build-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: oven-sh/setup-bun@v2
      - name: Install dependencies
        run: bun install
      - name: Build client with Bun
        run: bun run build >> $GITHUB_STEP_SUMMARY
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'dist'
  deploy:
    needs: build-pages
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4